<app-nav-bar [loginUser]="loginUser"></app-nav-bar>
<div class="container" #container>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <h3>Advance Search</h3>
                    <span class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal4" id="btnOpenModalDetail">
                         more...
                    </span>
                </div>
                <div class="card-body">
                    <!-- Advanced search -->
                    <div class="row" *ngIf="searchTerm.searchMode === 'advanced'">

                        <!-- Search link toggle -->
                        <div class="col-md-2 advanced-search-link-display" (click)="toggleAdvancedLink()">
                            <span style="transform: rotate(-90deg);"
                                *ngIf="searchTerm.advancedSearchLink === 'and'">AND</span>
                            <span style="transform: rotate(-90deg);"
                                *ngIf="searchTerm.advancedSearchLink === 'or'">OR</span>
                        </div>

                        <div class="col-md-10">

                            <!-- Term rows -->
                            <div class="row mt-2" *ngFor="let term of searchTerm.advancedTerms">

                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <select [(ngModel)]="term.fieldName" (change)="updateTermField(term)"
                                            class="form-select" id="floatingSelectFieldName">
                                            <option [value]="header.id" *ngFor="let header of headers">
                                                {{header.displayText}}
                                            </option>
                                        </select>
                                        <label for="floatingSelectFieldName">Field</label>
                                    </div>
                                </div>

                                <div class="col-md-1 advanced-search-negate text-center text-primary"
                                    (click)="termNegate(term)">
                                    <span class="advanced-search-negate-label align-middle"
                                        *ngIf="!term.isNegated">is</span>
                                    <span class="advanced-search-negate-label align-middle" *ngIf="term.isNegated">is
                                        not</span>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-floating">
                                        <select [(ngModel)]="term.action" (change)="this.outputUpdate()"
                                            class="form-select" id="floatingSelectAction">
                                            <option [value]="'contains'">containing</option>
                                            <option [value]="'equals'">equal to</option>
                                            <option [value]="'larger than'">greater than</option>
                                            <option [value]="'smaller than'">less than</option>
                                        </select>
                                        <label for="floatingSelectAction">Criteria</label>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingSearchterm"
                                            [(ngModel)]="term.searchTerm" (keyup)="this.outputUpdate()"
                                            placeholder="Search term">
                                        <label for="floatingSearchterm">Search term</label>
                                    </div>
                                </div>

                                <div class="col-md-1 advanced-search-delrow text-danger" (click)="delTermRow(term.id)">
                                    <p class="mt-3">
                                        <i class="bi bi-trash"></i>
                                        Delete
                                    </p>
                                </div>

                            </div>

                            <!-- New row button -->
                            <div class="row">
                                <div class="col-3 advanced-search-newrow" (click)="addTermRow()">
                                    <p class="text-primary">
                                        <span class="bi bi-plus"> Add new rule</span>

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" *ngIf="loading">
                    <thead class="bg-light text-dark">
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col" style="width: 40%;">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Creator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let number of [0,1,2]">
                            <td>
                                <span class="loading"></span>
                            </td>
                            <td>
                                <span class="loading"></span>
                            </td>
                            <td>
                                <span class="loading"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover" *ngIf="filteredData.length>0">
                    <thead class="sticky-top bg-light text-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" style="width: 60%;" (click)="sortByCol('title', $event)">Title <i
                                    class="bi bi-chevron-up  float-end"></i></th>
                            <th scope="col" (click)="sortByCol('date', $event)">Date <i class="float-end"></i></th>
                            <th scope="col" (click)="sortByCol('creators', $event)">Creator <i class="float-end"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody
                        *ngFor="let data of filteredData; let isEven = even; let isOdd = odd">
                        <tr style="cursor: pointer;" (click)="getSpecificData(data, $event)"
                            [class]="isEven ? 'bg-white' : 'bg-light'">
                            <td>
                                <i class="bi bi-plus-circle-fill text-success"
                                    *ngIf="data.children.length > 0 && !data.showChild"
                                    (click)="expandChild(data, true)"></i>
                                <i class="bi bi-dash-circle-fill text-success"
                                    *ngIf="data.children.length > 0 && data.showChild"
                                    (click)="expandChild(data, false)"></i>
                            </td>
                            <td title="{{data.title}}">
                                <p *ngIf="data.title.length < 100">
                                    <i [class]="getItemTypeIcon(data.itemType)"></i>
                                    {{data.title}}
                                </p>
                                <p *ngIf="data.title.length >= 100">
                                    <i [class]="getItemTypeIcon(data.itemType)"></i>
                                    {{data.title | slice:0:100}}...
                                </p>
                            </td>
                            <td>
                                {{ data.date }}
                            </td>
                            <td title="{{data.getCreators()}}">
                                <!-- <span *ngFor="let creator of data.creators"> -->
                                <span *ngIf="data.getCreators().length < 30">
                                    {{ data.getCreators() }}
                                </span>
                                <span *ngIf="data.getCreators().length >= 30">
                                    {{ data.getCreators() | slice:0:30 }}...
                                </span>
                                <!-- </span> -->
                            </td>
                        </tr>
                        <tr *ngIf="data.children.length > 0" [style]="data.showChild ? '' : 'display:none;'">
                            <td colspan="4">
                                <table class="table table-striped table-hover" style="margin: auto;">
                                    <tbody>
                                        <tr *ngFor="let child of data.children; let isLast = last;"
                                            [hidden]="!data.showChild" (click)="getSpecificData(child, $event)"
                                            style="cursor: pointer; border-left: 2px solid #0d6efd; border-right: 2px solid #0d6efd;"
                                            [style]="isLast ? {'border-bottom': '2px solid #0d6efd'}: ''" #dynamic>
                                            <td style="width: 4%;">
                                                <i class="bi bi-plus-circle-fill text-success"
                                                    *ngIf="child.children.length > 0 && !child.showChild"
                                                    (click)="expandInnerChild(child, true, $event)"></i>
                                                <i class="bi bi-dash-circle-fill text-success"
                                                    *ngIf="child.children.length > 0 && child.showChild"
                                                    (click)="expandInnerChild(child, false, $event)"></i>
                                            </td>
                                            <td title="{{child.title}}" style="width: 60%;">
                                                <p *ngIf="child.title.length < 100">
                                                    <i [class]="getItemTypeIcon(child.itemType)"></i>
                                                    {{child.title}}
                                                </p>
                                                <p *ngIf="child.title.length >= 100">
                                                    <i [class]="getItemTypeIcon(child.itemType)"></i>
                                                    {{child.title | slice:0:100}}...
                                                </p>
                                            </td>
                                            <td>
                                                {{ child.date }}
                                            </td>
                                            <td title="{{child.getCreators()}}">
                                                <!-- <span *ngFor="let creator of data.creators"> -->
                                                <span *ngIf="child.getCreators().length < 30">
                                                    {{ child.getCreators() }}
                                                </span>
                                                <span *ngIf="child.getCreators().length >= 30">
                                                    {{ child.getCreators() | slice:0:30 }}...
                                                </span>
                                                <!-- </span> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <app-biblio-item-more-info #biblioItemMore [citations]="citations"></app-biblio-item-more-info>
                </div>
            </div>
        </div>
    </div>
</div>