<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1>FAIR Bibliography</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">
              <i class="bi bi-house-door"></i> Home
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding-top: 20px;">
            <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
                <div class="row">
                    <div class="col-12" style="text-align: start;">
                        <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-signin">
                            <h2>Login</h2>
                            <hr />
                            <label for="inputEmail" class="sr-only">Username or Email</label>
                            <input type="text" id="username" class="form-control mt-2" formControlName="userName"
                                placeholder="Username" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control mt-2"
                                formControlName="password" placeholder="Password" required>
                            <button class="btn btn-primary" type="submit">Login</button>

                            <div id="divError" class="toast align-items-center text-white bg-danger border-0 mt-3" role="alert"
                                aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        username or password is incorrect.
                                    </div>
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                        data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>