<!-- Page Content -->
<div class="container-fluid mt-3" style="width: 90%;">
    <div class="row bg-light rounded">
        <div class="col-md-12 ms-5 overflow-auto" style="padding-top: 30px;height: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h3>Acccount Settings</h3>
                    <p class="text-secondary">Change your profile and account settings</p>
                </div>
            </div>
            <div class="row bg-white rounded h-75" style="width: 95%;">
                <div class="col-md-2">
                    <div class="list-group" id="list-tab" role="tablist" style="margin-left: -5%;margin-right: -6%;">
                        <a class="list-group-item list-group-item-action active" id="list-account-list"
                            data-bs-toggle="list" href="#list-account" role="tab" aria-controls="list-account">
                            <i class="bi bi-person"></i> Account
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-password-list" data-bs-toggle="list"
                            href="#list-password" role="tab" aria-controls="list-password">
                            <i class="bi bi-lock"></i> Password
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-users-list" data-bs-toggle="list"
                            href="#list-users" role="tab" aria-controls="list-users">
                            <i class="bi bi-person-up"></i> Manage Users
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-roles-list" data-bs-toggle="list"
                            href="#list-roles" role="tab" aria-controls="list-roles">
                            <i class="bi bi-people"></i> Manage Roles
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-bibtypes-list" data-bs-toggle="list"
                            href="#list-bibtypes" role="tab" aria-controls="list-bibtypes">
                            <i class="bi bi-list-nested"></i> Manage Biblio Types
                        </a>
                    </div>
                </div>
                <div class="col-md-10 border-start">
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-account" role="tabpanel"
                            aria-labelledby="list-account-list">
                            Account
                        </div>
                        <div class="tab-pane fade" id="list-password" role="tabpanel"
                            aria-labelledby="list-password-list">
                            Password
                        </div>
                        <div class="tab-pane fade" id="list-users" role="tabpanel"
                            aria-labelledby="list-users-list">
                            Manage users
                        </div>
                        <div class="tab-pane fade" id="list-roles" role="tabpanel"
                            aria-labelledby="list-roles-list">
                            Manage Roles
                        </div>
                        <div class="tab-pane fade" id="list-bibtypes" role="tabpanel"
                            aria-labelledby="list-bibtypes-list">
                            Manage Biblio Types
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>