span{
    height: 10px;
    display: block;
}

.table-responsive{
    height: 75vh !important;
    width: 101% !important;
}

.table-responsive td p{
    height: 1px;
}

.highlighted{
    background-color: #0d6efd;
    color: white;
    td{
        color: white !important;
    }
}

.arrows{
    font-size: 20px;
}

.divParent{
    width: 120%;;
}

.divChild{
    width: 120%;
    div{
        max-height: 60vh;
        overflow: auto;
    }
}

.btn-Child{
    margin-top: 13rem !important;
}