<app-nav-bar [loginUser]="loginUser"></app-nav-bar>


<div class="container-fluid">
    <div class="container mt-2">
        <h2>Duplicate Call Numbers
            <!-- <button type="button" class="btn btn-danger float-end" (click)="clearCache()" *ngIf="zoteroURL!==''">Clear
          Cache</button> -->
        </h2>
        <hr />
        <!-- <span class="spinner-border spinner-border-sm text-primary" aria-hidden="true"></span>
        <span role="status"> Checking...</span> -->

        <div class="row">
            <div class="col-md-12">
                <ul id="duplicateEntries" class="list-group">
                    <!-- Duplicate entries will be inserted here -->
                  </ul>
            </div>
        </div>
    </div>
</div>