<!-- Toast -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="divErrorHome" class="toast align-items-center border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="divMsg">

      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>

<router-outlet>
  <!-- <app-home [searchText]="mainSearchBar"></app-home> -->
</router-outlet>

<div id="overlay" class="overlay"></div>

<!-- Confirmation Modal -->
<div class="modal" tabindex="-1" role="dialog" id="confirmModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalCenterTitle"><i class="bi bi-sign-stop-fill fs-2 text-danger"></i> Please Confirm!</h1>
        <button type="button" class="btn-close" id="btnHideConfirmModal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This action will delete your data from your machine and sync from the Zotero. It will take time. Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteCache()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- loading-modal.component.html -->
<div class="modal" tabindex="-1" role="dialog" id="loadingModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" id="btnHideModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="display: none;"></button>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">
                {{ progressBar.message }}
              </span>
            </div>
          </div>
          <div class="col-md-10">
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="getPercentage()">
                {{getPercentage()}}%
              </div>
            </div>

            <span style="font-size: 10px;" class="ms-1" *ngIf="progressBar.count === 0"> Loading ... </span>
            <span style="font-size: 10px;" class="ms-1" *ngIf="progressBar.count > 0">{{ progressBar.processedCount }} / {{ progressBar.count }} processed ...  </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>