<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>FAIR Bibliography</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/biblio/bibliography']"
            routerLinkActive="active">
            <i class="bi bi-blockquote-left"></i> Bibliography
          </a>
        </li>

        <li class="nav-item">
          <div *ngIf="!loginUser">
            <a class="nav-link" [routerLink]="['/user/login']" routerLinkActive="active">
              <i class="bi bi-box-arrow-in-right"></i> <span> Login</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="loginUser">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{ loginUser['username'] }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index: 2000">
            <li><a class="dropdown-item" [routerLink]="['/user/setting']" routerLinkActive="active"><i
                  class="bi bi-gear"></i> Setting</a></li>
            <li><a class="dropdown-item" [routerLink]="['/biblio/alignment']" routerLinkActive="active"><i
                  class="bi bi-list-columns"></i> Alignment </a></li>
            <li><a class="dropdown-item" [routerLink]="['/biblio/duplicate-callno']" routerLinkActive="active">
              <i class="bi bi-copy"></i> Duplicate Call No. </a></li>
            <li (click)="takeBackup()" style="cursor: pointer;"><a class="dropdown-item"><i
                  class="bi bi-database-down"></i> Backup</a></li>
            <li (click)="sync()" style="cursor: pointer;"><a class="dropdown-item"><i class="bi bi-arrow-repeat"></i>
                Clear Cache</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user/logout']" routerLinkActive="active"><i
                  class="bi bi-box-arrow-in-left"></i> Logout</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-list-columns-reverse"></i> Abbreviations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index: 2000">
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['/biblio/abbreviations']"
                routerLinkActive="active">
                <i class="bi bi-table"></i> All Abbreviations
              </a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" [routerLink]="['/biblio/abbreviation/aiegl']"
                routerLinkActive="active">
                <i class="bi bi-filetype-html"></i> AIEGL
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/biblio/sparql']" routerLinkActive="active">
            <i class="bi bi-share"></i> SPARQL
          </a>
        </li>
      </ul>
      <div class="d-flex w-50 position-relative" *ngIf="showSearchBar">
        <div class="input-group mb-3">
          <input class="form-control" (input)="changeText()" type="search" placeholder="Search anything..."
            aria-label="Search" [(ngModel)]="mainSearchBar">
          <i class="input-group-text bi bi-search" id="basic-addon2"></i>
        </div>
        <a [routerLink]="['/biblio/advance-search']" routerLinkActive="active"
          class="nav-link position-absolute text-primary" style="font-size: 11px !important;
          margin-top: 2.6rem;
          margin-left: 0.3rem;">
          Advance Search
        </a>
      </div>
    </div>
  </div>
</nav>