<app-nav-bar [loginUser]="loginUser" (searchValueChange)='changeSearchValue($event)'>
</app-nav-bar>
<div class="container-fluid py-3">
  <div class="row my-3 border-top border-bottom" flex-nowrap>
    <!-- <div class="col-md-2">
        <app-item-list [libraryName]="libraryName"></app-item-list>
      </div> -->
    <div class="col-auto px-0">
      <div id="sidebar" class="collapse collapse-horizontal border-end">
        <app-item-list [libraryName]="libraryName"></app-item-list>
      </div>
    </div>
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 ps-md-2 pt-2 border-start border-end">

      <app-biblio-item-list [biblioData]="allBiblioData" [loading]="loading" [biblioItemInfoComp]="biblioItemMore1"
        [canActive]="canActive" [lastCallNumber]="lastCallNumber">
      </app-biblio-item-list>
    </div>
    <div class="col-xl-4 d-sm-none d-md-none d-lg-none d-xl-block d-xxl-block">
      <app-biblio-item-more-info #biblioItemMore1 [totalNumberOfRecords]="totalItems" [lastCallNumber]="lastCallNumber" [citations]="citations" [tabIndex]="1">
      </app-biblio-item-more-info>
    </div>
  </div>

  <!-- Toast -->
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="divErrorHome" style="width: auto;" class="toast align-items-center text-white border-0 mt-3" role="alert"
      aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ errorMessage }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>