<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>FAIR Bibliography</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <div *ngIf="!loginUser">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">
              <i class="bi bi-box-arrow-in-right"></i> <span> Login</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="loginUser">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{ loginUser['username'] }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index: 11">
            <li><a class="dropdown-item" [routerLink]="['/setting']" routerLinkActive="active"><i class="bi bi-gear"></i> Setting</a></li>
            <li><a class="dropdown-item" [routerLink]="['/logout']" routerLinkActive="active"><i class="bi bi-box-arrow-in-left"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex w-50">
        <div class="input-group mb-3">
          <input class="form-control" type="search" placeholder="Search anything..." aria-label="Search"
            [(ngModel)]="mainSearchBar">
          <i class="input-group-text bi bi-search" id="basic-addon2"></i>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid py-3">
    <div class="row my-3 border-top border-bottom">
      <div class="col-md-2">
        <app-item-list [libraryName]="libraryName"></app-item-list>
      </div>
      <div class="col-md-7 border-start border-end">
        <app-biblio-item-list [biblioData]="allBiblioData"
                              [loading]="loading" 
                              [biblioItemInfoComp]="biblioItemMore1"
                              [canActive]="canActive"
                              [mainSearchBar]="mainSearchBar"
                              [lastCallNumber]="lastCallNumber">
        </app-biblio-item-list>
      </div>
      <div class="col-md-3">
        <app-biblio-item-more-info #biblioItemMore1></app-biblio-item-more-info>
      </div>
    </div>
  
    <!-- Button trigger modal -->
    <button id="btnOpenModal" type="button" style="display: none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Detail</h5>
            <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-biblio-item-more-info #biblioItemMore2></app-biblio-item-more-info>
          </div>
        </div>
      </div>
    </div>
  </div>