<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab"
      aria-controls="info" aria-selected="true">Info</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab"
      aria-controls="notes" aria-selected="false">Notes</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tags-tab" data-bs-toggle="tab" data-bs-target="#tags" type="button" role="tab"
      aria-controls="tags" aria-selected="false">Tags</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="relations-tab" data-bs-toggle="tab" data-bs-target="#relations" type="button"
      role="tab" aria-controls="relations" aria-selected="false">Relations</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="citation-tab" data-bs-toggle="tab" data-bs-target="#citation" type="button" role="tab"
      aria-controls="citation" aria-selected="false">Citation</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent" *ngIf="zoteroObject !== null">
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
    <div class="table-responsive">
      <table class="table table-hover mt-2">
        <tbody>
          <tr>
            <td>FAIR Biblio URI</td>
            <td>
              https://biblio.inscriptiones.org/{{ zoteroObject.callNumber }}
              <a href="https://biblio.inscriptiones.org/{{ zoteroObject.callNumber }}"
                *ngIf="zoteroObject.callNumber !== ''" target="_blank">
                <i class='bi bi-box-arrow-up-right'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Resource Type</td>
            <td>
              <select [(ngModel)]="zoteroObject.resourceTypeId" (change)="updateItemResourceType()"
                (mouseleave)="visableResourceTypeDropDown()" *ngIf="isDisplayedResourceType && hasPermission">
                <option *ngFor="let resType of resourceTypes" [ngValue]="resType.id">
                  {{ resType.resourceTypeGeneral }}
                </option>
              </select>
              <p (mouseenter)="visableResourceTypeDropDown()" *ngIf="!isDisplayedResourceType && hasPermission">
                {{ zoteroObject.resourceType }}
              </p>
              <p *ngIf="!isDisplayedResourceType && !hasPermission">
                {{ zoteroObject.resourceType }}
              </p>
            </td>
          </tr>
          <tr *ngFor="let item of zoteroObject | keyvalue">
            <td *ngIf="item.key !== 'creators' && item.key !=='tags' && 
                    item.key !=='relations' && item.key !=='url' && 
                    item.key !== 'children' && item.key !== 'key' && item.key !== 'creatorsName' &&
                    item.key !== 'resourceTypeId' && item.key !== 'resourceType' &&
                    item.key !== 'addedBy' && item.key !== 'modifiedBy' &&
                    item.key !== 'dateAdded' && item.key !== 'dateModified' && item.key !== 'altTitle' &&
                    itemHasValue(item.value)">
              {{ getColumnName(item.key) }}
              <span *ngIf="item.key === 'title'">
                <i class="bi bi-plus-circle" *ngIf="hasPermission" title="Add Alternate" style="cursor: pointer;"
                  data-bs-toggle="modal" data-bs-target="#modalAddAlternateTitle"></i>
              </span>
              <span *ngIf="item.key === 'shortTitle'">
                <i class="bi bi-plus-circle" *ngIf="hasPermission" title="Add Abbreviation" style="cursor: pointer;"
                  (click)="showTextbox(item)"></i>
              </span>
            </td>
            <td *ngIf="item.key !== 'creators' && item.key !=='tags' && 
              item.key !=='relations' && item.key !=='url' &&
              item.key !== 'children' && item.key !== 'key' && item.key !== 'creatorsName' &&
              item.key !== 'resourceTypeId' && item.key !== 'resourceType' &&
              item.key !== 'addedBy' && item.key !== 'modifiedBy' &&
              item.key !== 'dateAdded' && item.key !== 'dateModified' && item.key !== 'altTitle' &&
               itemHasValue(item.value)">
              <span *ngIf="item.key !== 'shortTitle'">{{item.value}}</span>
             
              <ul *ngIf="item.key === 'shortTitle'" style="margin-left: -25px;">
                <li *ngFor="let obj of getAbbr(item)"
                  [ngStyle]="{'list-style-type': obj.abbr === '' ? 'none' : '\' - \''}">
                  <span *ngIf="obj.abbr !== ''">{{ obj.abbr }} ({{obj.source }})</span>
                  <div *ngIf="obj.abbr === '' && hasPermission" (keyup.enter)="addAbbreviation(item, $event)">
                    <div class="input-group input-group-sm p-0">
                      <input [class.is-invalid]="obj.invalid" type="text" class="form-control" style="width: 28%;"
                        placeholder="Enter Abbreviation" />
                      <input [class.is-invalid]="obj.invalid" type="text" class="form-control"
                        placeholder="Enter Source" />
                      <div [class.invalid-feedback]="obj.invalid" *ngIf="obj.invalid">
                        abbreviation and source are required.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </td>
            <!-- with creators -->
            <td colspan="2" *ngIf="item.key === 'creators' && getCreators(item.value).length > 0">
              <div class="row w-100" *ngFor="let c of getCreators(item.value); let i = index; trackBy: trackByIdFn;">
                <div class="col-md-2 offset-md-2">{{c.creatorType}}</div>
                <div class="col-md-8 text-start text-dark">
                  {{c.getFullName(c)}}
                  <a class="accordion-toggle collapsed" data-bs-toggle="collapse" href="#collapseExample{{i}}"
                    role="button" aria-expanded="false" aria-controls="collapseExample" *ngIf="hasPermission">
                  </a>
                  <a class="accordion-toggle collapsed" data-bs-toggle="collapse" href="#collapseExample{{i}}"
                    role="button" aria-expanded="false" aria-controls="collapseExample"
                    *ngIf="!hasPermission && (c.VIAF.value !== undefined || c.ORCID.value)">
                  </a>
                  <div class="collapse" id="collapseExample{{i}}">
                    <div class="row mt-2">
                      <div class="input-group input-group-sm p-0 col-md-12">
                        <span class="input-group-text" *ngIf="c.VIAF.value !== undefined"
                          style="font-size: 11px !important; line-height: 0 !important;">VIAF</span>
                        <input type="text" class="form-control" *ngIf="hasPermission" placeholder="Enter VIAF"
                          value="{{c.VIAF.value}}" (keyup.enter)="addVIAF(c, $event)" style="line-height: 0 !important;"
                          [class.is-invalid]="c.VIAF.invalid" />
                        <span class="form-control" *ngIf="!hasPermission && c.VIAF.value !== undefined"
                          style="line-height: 1 !important;">{{c.VIAF.value}}</span>

                        <a class="input-group-text" href="https://viaf.org/viaf/{{c.VIAF.value}}" target="_blank"
                          *ngIf="c.VIAF.value !== undefined && c.VIAF.value !== ''"
                          style="font-size: 11px !important; line-height: 0 !important;"><i
                            class='bi bi-box-arrow-up-right'></i>
                        </a>
                        <div [class.invalid-feedback]="c.VIAF.invalid" *ngIf="c.VIAF.invalid">
                          Invalid
                        </div>
                      </div>

                      <div class="input-group input-group-sm p-0 col-md-12 mt-1">
                        <span class="input-group-text" *ngIf="c.ORCID.value !== undefined"
                          style="font-size: 11px !important; line-height: 0 !important;">ORCID</span>
                        <input type="text" class="form-control" placeholder="Enter ORCID" autofocus required
                          *ngIf="hasPermission" value="{{c.ORCID.value}}" (keyup.enter)="addORCID(c, $event)"
                          [class.is-invalid]="c.ORCID.invalid" style="line-height: 0 !important;">
                        <span class="form-control" *ngIf="!hasPermission && c.ORCID.value !== undefined"
                          style="line-height: 1 !important;">{{c.ORCID.value}}</span>
                        <a class="input-group-text" href="https://orcid.org/{{c.ORCID.value}}" target="_blank"
                          *ngIf="c.ORCID.value !== undefined && c.ORCID.value !== ''"
                          style="font-size: 11px !important; line-height: 0 !important;"><i
                            class='bi bi-box-arrow-up-right'></i>
                        </a>
                        <div [class.invalid-feedback]="c.ORCID.invalid" *ngIf="c.ORCID.invalid">
                          Invalid
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let altTitle of alternateTitles">
            <td>
              Alternate Title
              <p style="line-height: 10px; font-size:10px;">{{ altTitle.lang }}</p>
            </td>
            <td>{{ altTitle.title }}</td>
          </tr>
          <tr>
            <td *ngIf="zoteroObject.dateAdded !== undefined && zoteroObject.dateAdded !== ''">
              Date Added
            </td>
            <td *ngIf="zoteroObject.dateAdded !== undefined && zoteroObject.dateAdded !== ''">
              {{ zoteroObject.dateAdded }}
            </td>
          </tr>
          <tr>
            <td *ngIf="zoteroObject.dateModified !== undefined && zoteroObject.dateModified!== ''">
              Date Modified
            </td>
            <td *ngIf="zoteroObject.dateModified !== undefined && zoteroObject.dateModified!== ''">
              {{ zoteroObject.dateModified }}
            </td>
          </tr>
          <tr>
            <td *ngIf="zoteroObject.addedBy !== undefined && zoteroObject.addedBy !== ''">
              Added By
            </td>
            <td *ngIf="zoteroObject.addedBy !== undefined && zoteroObject.addedBy !== ''">
              {{ zoteroObject.addedBy === 'imranasif' ? 'FAIR Biblio' : zoteroObject.addedBy }}
              <a href="https://github.com/FAIR-epigraphy/FAIR_Epigraphic_Bibliography"
                *ngIf="zoteroObject.addedBy === 'imranasif'" target="_blank">
                <i class='bi bi-box-arrow-up-right'></i>
              </a>
            </td>
          </tr>
          <tr>
            <td *ngIf="zoteroObject.modifiedBy !== undefined && zoteroObject.modifiedBy!== ''">
              Modified By
            </td>
            <td *ngIf="zoteroObject.modifiedBy !== undefined && zoteroObject.modifiedBy!== ''">
              {{ zoteroObject.modifiedBy === 'imranasif' ? 'FAIR Biblio' : zoteroObject.modifiedBy }}
              <a href="https://github.com/FAIR-epigraphy/FAIR_Epigraphic_Bibliography"
                *ngIf="zoteroObject.modifiedBy === 'imranasif'" target="_blank">
                <i class='bi bi-box-arrow-up-right'></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="profile-tab">
    <div class="mt-2" *ngIf="zoteroObject !== null">
      {{getNotes(zoteroObject).length}} notes
    </div>
    <ul class="list-group list-group-flush mt-2" *ngIf="zoteroObject !== null">
      <li class="list-group-item" *ngFor="let n of getNotes(zoteroObject)" [innerHTML]="n">
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="contact-tab">
    <div class="mt-2" *ngIf="zoteroObject !== null">
      {{zoteroObject.tags.length}} tags
    </div>
    <ul class="list-group list-group-flush mt-2" *ngIf="zoteroObject !== null">
      <li class="list-group-item" *ngFor="let t of zoteroObject.tags" [innerHTML]="t.tag">
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="relations" role="tabpanel" aria-labelledby="contact-tab">
    <div class="mt-2" *ngIf="zoteroObject !== null">
      {{getRelationURIs().length}} relations
      <button class="btn btn-primary" *ngIf="hasPermission" (click)="showTextbox(zoteroObject)">Add</button>

      <form [formGroup]="formLink" (submit)="addRelations(zoteroObject)">
        <input type="url" class="form-control mt-3" formControlName="link"
          *ngIf="zoteroObject.relations.added === false"
          [class.is-invalid]="formLink.controls['link'].invalid && formLink.controls['link'].touched"
          placeholder="Enter URI" autofocus required />
        <div *ngIf="formLink.controls['link'].invalid && formLink.controls['link'].touched"
          [class.invalid-feedback]="formLink.controls['link'].invalid && formLink.controls['link'].touched">
          Please provide a valid URI.
        </div>
      </form>
    </div>

    <ul class="list-group list-group-flush mt-2" *ngIf="zoteroObject !== null">
      <li class="list-group-item" *ngFor="let rel of getRelationURIs()">
        {{ rel }}
        <a href="{{rel}}" *ngIf="rel !== ''" target="_blank">
          <i class='bi bi-box-arrow-up-right'></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="citation" role="tabpanel" aria-labelledby="contact-tab" data-bs-spy="scroll">
    <div class="mt-2 table-responsive" *ngIf="zoteroObject !== null" id="ccc" style="position: relative;">
      <div class="row">
        <div class="col-md-3 text-secondary" style="font-size: 16px;">
          <span class="align-middle"> Citation Style</span>
        </div>
        <div class="col-md-9">
          <ng-select [items]="citations" appendTo="#ccc" placeholder="Select citation style..." bindLabel="title"
            bindValue="name" [(ngModel)]="selectedCitationStyle" (change)="getCitation()"></ng-select>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-3 text-secondary" style="font-size: 16px;">
          <span class="align-middle"> Language </span>
        </div>
        <div class="col-md-9">
          <ng-select [items]="citationLanguage" appendTo="#ccc" placeholder="Select language.." bindLabel="language"
            bindValue="langKey" [(ngModel)]="selectedCitationLanguage" (change)="getCitation()"></ng-select>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-md-12">
          <div id="citationContent" class="mt-3">
          </div>

          <div class="spinner-border text-primary" role="status" *ngIf="isCitationLoading">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-md-5 offset-md-7">
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary" (click)="copy('')">Copy to Clipboard</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden"></span>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" (click)="copy('html')">Copy HTML</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="zoteroObject === null && totalNumberOfRecords > 0" class="totalItems">
  {{ totalNumberOfRecords }} items
</div>

<!-- Start Add Alternate title Modal -->
<div class="modal fade" id="modalAddAlternateTitle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalAddAlternateTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-plus"></i> Add Alternate Title</h5>
        <button type="button" id="btnAltTitleClose" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" id="titleLang" style="position: relative;">
            <ng-select id="selLang" [items]="citationLanguage" appendTo="#titleLang" placeholder="Select language.."
              bindLabel="language" bindValue="langKey" [(ngModel)]="selectedTitleLanguage"></ng-select>
          </div>
          <div class="col-md-12 mt-2">
            <textarea type="text" class="form-control" [(ngModel)]="alternateTitleText" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveAlterTitle()">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 11">
  <div id="divError" style="width: auto;" class="toast align-items-center text-white border-0 mt-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ errorMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>